.modal-body {
    padding: 0!important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 2.25rem 0 2.25rem!important;
}
.form .form-group {
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 13px;
}

