<app-card-container [titleCard]="'VM.ADVISOR.SAPR.TITLE' | translate">
    <form class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
            <div class="col-lg-4">
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.REQUESTED_BY'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.REQUESTED_BY' | translate" [minlength]="minLength.GENERAL"
                        [maxlength]="maxLength.GENERAL" formControlName="requestedBy" readonly required />
                    <mat-error>
                        <app-control-error [validationSignal]="
                                        validatorService.validateArray(formControls.requestedBy, [
                                          {
                                            valType: 'required',
                                            message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                          }
                                        ])
                                      ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.EMAIL'"></mat-label>
                    <input matInput type="email" appEmail [placeholder]="'VM.FLD.EMAIL' | translate"
                        [minlength]="minLength.EMAIL" [maxlength]="maxLength.EMAIL" formControlName="email" required />
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.email, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      },
                                      {
                                        valType: 'email',
                                        message: ('VALIDATION.ERROR.EMAIL' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.SCOTIA_ID'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.SCOTIA_ID' | translate" [minlength]="minLength.GENERAL"
                        [maxlength]="maxLength.GENERAL" formControlName="id" required />
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.id, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.REQUEST_AREA'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.REQUEST_AREA' | translate" formControlName="requestArea"
                        readonly />
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.requestArea, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <div class="mat-form-field-wrapper" *ngIf="isNewTicket || ticket.idStatus == 104">
                    <button (click)="openRegionModal()" mat-raised-button color="warn">
                        <mat-icon matPrefix>language</mat-icon>
                        {{ "VM.BTN.REGION" | translate }}
                    </button>
                </div>
                <mat-form-field style="display: none" class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.SELECTED_REGIONS'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.SELECTED_REGIONS' | translate"
                        formControlName="selectedRegions" readonly />
                </mat-form-field>
                <mat-form-field style="display: none" class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.SELECTED_COUNTRIES'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.SELECTED_COUNTRIES' | translate"
                        formControlName="selectedCountries" readonly />
                </mat-form-field>
                <mat-form-field style="display: none" class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.ENTITY'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.ENTITY' | translate" formControlName="entity" readonly />
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.SELECTED_REGIONS'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.SELECTED_REGIONS' | translate" [value]="regionDesc"
                        readonly />
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.SELECTED_COUNTRIES'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.SELECTED_COUNTRIES' | translate" [value]="countriesList"
                        readonly />
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.ENTITY'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.ENTITY' | translate" [value]="entitiesList" readonly />
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.LOCAL_CISO'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.LOCAL_CISO' | translate" formControlName="localCiso"
                        readonly />
                    <mat-error>
                        <app-control-error [validationSignal]="
                        validatorService.validateArray(formControls.localCiso, [
                            {
                            valType: 'required',
                            message: ('VALIDATION.ERROR.REQUIRED' | translate)
                            }
                        ])
                        ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.AVS.WEB-INS.EPM_CODE'"></mat-label>
                    <input matInput [placeholder]="'VM.AVS.WEB-INS.EPM_CODE' | translate" formControlName="epmCode"
                        [minlength]="minLength.GENERAL" [maxlength]="maxLength.GENERAL" required />
                    <mat-icon *ngIf="isNewTicket || ticket.idStatus == 104" style="cursor: pointer"
                        (click)="searchEMPCode()" matSuffix>search</mat-icon>
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.epmCode, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.AVS.WEB-INS.APPLICATION_NAME'"></mat-label>
                    <mat-select formControlName="applicationName" (selectionChange)="onApplicationChange()" required>
                        <mat-option selected disabled>Seleccione una opci&oacute;n</mat-option>
                        <mat-option [value]="0">Otra aplicaci&oacute;n</mat-option>
                        <mat-option *ngFor="let application of applicationList" [value]="application.id">
                            {{ application.entity }} - {{ application.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.applicationName, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill"
                    *ngIf="formGroup.get('applicationName').value == 0">
                    <mat-label [translate]="'VM.AVS.WEB-INS.APPLICATION_NAME'"></mat-label>
                    <input matInput [placeholder]="'VM.AVS.WEB-INS.APPLICATION_NAME' | translate"
                        formControlName="applicationNameOther" [maxlength]="maxLength.GENERAL" />
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.applicationNameOther, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-card class="card-mg-bot">
                    <mat-card-content>
                        <section class="example-section" formGroupName="applicationType" aria-required="true">
                            <b>{{'VM.AVS.WEB-INS.APP_TYPE' | translate}}</b>
                            <div class="form-group row">
                                <div class="col-lg-8">
                                    <p *ngFor="let applicationType of applicationTypes | async">
                                        <mat-checkbox [formControlName]="applicationType.value" [disabled]="epmFound" color="warn">{{ applicationType.value }}</mat-checkbox>
                                    </p>
                                </div>
                            </div>
                        </section>
                    </mat-card-content>
                </mat-card>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.BUSSINESS_UNIT'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.BUSSINESS_UNIT' | translate" formControlName="businessUnit"
                        [disabled]="epmFound" [maxlength]="maxLength.GENERAL" />
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.BUSSINESS_CHANNEL'"></mat-label>
                    <mat-select formControlName="businessChannel">
                        <mat-option selected disabled>Seleccione una opci&oacute;n</mat-option>
                        <mat-option *ngFor="let business of businessChannelList" [value]="business.id">
                            {{ business.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.FLD.REQUEST_TYPE'"></mat-label>
                    <input matInput [placeholder]="'VM.FLD.REQUEST_TYPE' | translate" formControlName="requestTypeName"
                        [maxlength]="maxLength.GENERAL" />
                    <mat-error>
                        <app-control-error [validationSignal]="
                                    validatorService.validateArray(formControls.requestTypeName, [
                                      {
                                        valType: 'required',
                                        message: ('VALIDATION.ERROR.REQUIRED' | translate)
                                      }
                                    ])
                                  ">
                        </app-control-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ols-form-control" appearance="fill">
                    <mat-label [translate]="'VM.ADVISOR.SAPR.FLD.DESCRIPTION'"></mat-label>
                    <textarea matInput [placeholder]="'VM.ADVISOR.SAPR.FLD.DESCRIPTION' | translate"
                        formControlName="description" cols="30" rows="10" [maxlength]="maxLength.COMMENTS"></textarea>
                </mat-form-field>
                <app-file-upload  *ngIf="isNewTicket || ticket.idStatus == 104" [label]="'Cargar archivo TRA'" (onFile)="pushObjFile($event)" [control]="'vsa'">
                </app-file-upload>
                <app-uploaded-file [objFile]="getFileByControl('vsa')"></app-uploaded-file>
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <ng-container *ngIf="!isNewTicket">
                    <app-advisory-view (viewData)="getViewData($event)"></app-advisory-view>
                </ng-container>
            </div>
        </div>

        <app-action-plans [ticket]="ticket"
            *ngIf="!isNewTicket && ticket && (userPolicies.includes('IS&C_Staff_Ejecutor')) && (ticket.idStatus == 5 || ticket.idStatus == 7 || ticket.idStatus == 8)">
        </app-action-plans>

        <mat-form-field *ngIf="!isNewTicket || ticket.idStatus == 104" class="example-full-width">
            <textarea matInput readonly id="comments" formControlName="comments"
                [placeholder]="'VM.AVS.COMMENTS' | translate" rows="6"></textarea>
        </mat-form-field>

        <mat-form-field *ngIf="ticket.idStatus == 5 || ticket.idStatus == 104 || isNewTicket"
            class="example-full-width">
            <textarea matInput id="additionalComments" formControlName="additionalComments"
                [placeholder]="'VM.AVS.ADITIONAL_COMMENTS' | translate" [maxlength]="maxLength.COMMENTS"></textarea>
        </mat-form-field>

        <app-udf [formName]="FORM_NAME" (getFormGroup)="setUdfForm($event)"></app-udf>

        <app-action-buttons [ticket]="ticket" [canBeClosed]="canBeClosed" [form]="formGroup"
            *ngIf="!isNewTicket && ticket && (userPolicies.includes('IS&C_Staff_Ejecutor'))">
        </app-action-buttons>

        <div class="form-group row" *ngIf="isNewTicket">
            <div class="col-lg-12">
                <button class="mr-4 ols-action-buttons" (click)="onSubmit()" mat-raised-button color="warn">
                    {{ "VM.BTN.SEND" | translate }}
                </button>
                <button class="ols-action-buttons" mat-raised-button (click)="goToList()" color="warn">
                    {{ "VM.BTN.CANCEL" | translate }}
                </button>
            </div>
        </div>
    </form>
</app-card-container>